---
import { addonsForm } from "@/constants/addons"
---

<div class="flex flex-col">
    {
        addonsForm.map(addon => <div class="inline-flex items-center">
            <label class="relative flex cursor-pointer items-center rounded-full p-2" for={addon.name}>
                <input id={addon.name} type="checkbox" checked={addon.checked} class="generator-addons-checkbox before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all checked:border-amber-500 checked:bg-amber-500 checked:before:bg-amber-500 hover:before:opacity-10" />
                <div class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
                </div>
            </label>
            <label class="mt-px cursor-pointer select-none font-light text-gray-700" for={addon.name}>
                {addon.label}
            </label>
        </div>)
    }
</div>