---
import { profileForm } from "@/constants/profile"
---

<>
    {
        profileForm.map(form => {
            return (
                <div class="col-span-6 sm:col-span-3">
                    <label for={form.name} class="block text-sm font-medium text-gray-700">{form.label}</label>
                    <input type="text" name={form.name} id={form.name} value={form.value} class="generator-profile-input mt-1 p-2.5 w-full text-sm text-gray-900 bg-white-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                </div>
            )
        })
    }
</>